.custom-progress-bar {
    position: fixed;
    height: 4px;
    width: 100%;
    border-radius: 0px;
    background-color: transparent;
    z-index: 9999;
}

.filler {
    background: gold;
    height: 100%;
    border-radius: inherit;
    transition: width 0.8s ease-in;
}